/* All elements are set border-box, 
   So the width and height of elements include padding and border */
*{
    box-sizing: border-box;
}

/* Removes edfault browser margins/padding */
html, body {
    margin: 0;
    padding: 0;
}

/* Import font style */
@font-face {
    font-family: 'MyMovieDbFont';
    src: url('fonts/star-shield-2-font/StarShieldV2-9M52K.ttf');
    font-weight: normal;
    font-style: normal;
}

/* When opening the web page, the user is met with a series of movies,
   which a popular today, therefore this heading style the heading 
   which says 'POPULAR TODAY' */
#heading {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 20px 0;
    color: #e50914;
    font-family: 'MyMovieDbFont', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Creates a grid format for the posters of the movie, 
   so when the web page is minimised, the images of the movies adjust */
#section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 15px;
    justify-items: center;
}

/* Makes the background colour of the page black, 
   and sets the text of the document to sans-serif */
body{
    background-color: #000000;
    font-family: sans-serif;
    color: #ffffff;
}

/* Make all h3 elements white, i.e. the title of the movie */
h3{
    font-weight: normal;
    font-size: 15px;
    color: white;
}


.nav{
    /* Navigation bar uses Flexbox - display: flex, makes nav a flex container*/
    display: flex;
    /* Vertically centers children */
    align-items: center;
    /* Spreads child elements out with space between */
    justify-content: space-between;
    /* Gives the navigation bar a dark background */
    background-color: #121212;
    position: relative;
    padding: 0.1px 20px;
    z-index: 10;

}

/* Any div inside .nav, their elements will align to the left,
   and customises the search bar*/
.nav div{
    float: left;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}

/* Styles the logo */
.logo {
    font-family: 'MyMovieDbFont', Helvetica, sans-serif;
    font-size: 2rem;

    color: #000000;
    background-color: #e50914;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}


.search-bar {
    /* Makes the search bar take up all available space between logo and sign-in link */
    flex: 1;
    display: flex;
    justify-content: center;
    /* Prevents search bar from getting too large */
    max-width: 500px;
    min-width: 150px;
    /* Horizontally centers it if there's extra space */
    margin: 0 10px;
}

/* Styles the form (where the user types in the search bar), by giving it 
   a white background, rounded corners, and uses flex to vertically align children */
form{
    background-color: #ffffff;
    width: 500px;
    height: 45px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
}

/* Styles the input of the search bar */
input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-family: inherit;
    color: #000000;
    width: 100%;
    height: 100%;
    padding: 0 9px;
    box-sizing: border-box;
}

/* Crops the thumbnail to maintain the aspect ratio */
.thumbnail{
    width: 180px;
    height: 320px;
    border-radius: 11px;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* Makes users cursor into a pointer when hovering over movie title */
.clickableCard{
    cursor: pointer;
}

/* Creates a grey-ish coloured frame around the "card" (movie poster and title) */
.card {
    display: inline-block;
    background-color: #121212;
    border-radius: 7px;
    padding: 12px;
    margin: 2px;
    transition: all 0.3s ease;
    text-align: center;
}

/* Shrinks the card when the user hovers over the card */
.card:hover{
    border: 2px solid red;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transform: scale(0.90);
    cursor: pointer;
}

/* Styling for the drop down */
#type{
    height: 100%;
    border: none;
    background-color: #e6e6e6;
    color: #000000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

/* Styling the sign in */
.sign{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 14px 14px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease;
}

/* Background appears when hovering over sign in button */
.sign:hover{
    background-color: #6e6e6e;
}

/* Styling the movie/tv info */
.details-container {
    grid-column: 1 / -1;
    width: 100vw;
    text-align: left;
    color: white;
    margin: 0;
    padding: 20px;
    background-color: black;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
}

/* make the poster fill the container / viewport width */
.details-poster {
    width: 180px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: relative;
    z-index: 1;
}

/* Nice extra detail to have a backdrop, to make the 
   movie/tv show info more visual interesting */
.details-backdrop {
    /* Positions the element relative to the nearest parent */
    position: absolute;
    /* Places the top-left corner of the backdrop at the top-left corner of the container */
    top: 0;
    left: 0;
    /* Takes up the entire page */
    width: 100%;
    height: 100%;
    /* Ensures the image fills the container without stretching,
       preserving its aspect ratio. */
    object-fit: cover;
    /* Makes the image semi-transparent */
    opacity: 0.2;
    /* Controls stacking order. Makes sure it isnt infront of anything */
    z-index: 0;
}

/* movie/tv title styling */
#details-title {
    font-size: 1.2rem;
    color: #e50914;
    margin: 15px 0;
    position: relative;
    z-index: 1;
}

/* Info about the movie/tv show */
.details-info{
    color: white;
    position: relative;
    z-index: 1;
}

/* Styling the return button */
#back-button {
    background-color: #e50914;
    color: #000000;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    z-index: 1;
}
#back-button:hover {
    background-color: darkred;
}

